
/* Highlights */
::selection {background: #ccc; color:#fff;}
::-moz-selection {background: #ccc; color:#fff;}

    
    
body
{
	background: url('../images/bg.png') repeat;


}
.center 
{display:table;margin: auto;}
h1
{visibility: hidden;height:1px;width:1px;}
b
{font-weight:bold;}




#container{
		position:absolute;
		height:auto; width:100%;

}
#container-div{
			position:relative;
			height:100%;   
            width: calc(100% - 40px);
            max-width:830px;
			text-align:center; direction:ltr;}



#logo
{
	width: 100%;	
}
#logo img
{
	width: 35%;
	margin: 50px 0 0 0;
}
#last-describ
{
	position: relative; float: left;
	width: 100%; height: auto;
	margin: 40px 0 0 0;
	padding: 0 0 10px 0;
	background: #fff;
	border-radius: 10px 10px 0 0;

}

#content-img
{
	width: calc(100% - 4px);
	margin: 2px 0 0 0;
	border-radius: 10px 10px 0 0;
}


#last-describ audio
{
	position:relative;
	width: calc(100% - 10px);
	margin:15px 0 0 0;

}
h2
{
	margin: 10px 0 0 15px; 
	text-align: left;
	font:normal 16pt serif;
}
#date
{
 	margin: 0px 0 0 17px; 
	text-align:left;float: left;
    width: 100%;
    color:#777;
	font:normal 8.5pt verdana;   
}




#last-describ #content
{
	margin: 10px 20px 0 20px; 
	text-align: left;
    float:left;
	font:normal 11pt tahoma;
	direction: ltr;
	line-height: 18px;
}



#last-describ-opt-share
{
	position: relative; float: right;
	margin: 10px 20px 0 20px;
	width: 20% height: auto;
	font-size: 8.5pt;
	color: #aaa;
	font-family: tahoma;
    text-align:right;

}
#last-describ-opt-share label
{
	position: relative; float: left;
}
#last-describ-opt-share span
{
	position: relative; float: left;
    margin: 0 0 0 4px;
}
.content-posts-bottom-options-sharing-item
{
    position: relative; float: right;
    width: 16px; height: 15px;
    background: url('../images/sharing.png');
    background-size: 99px 30px;
    margin: 3px 0 0 0px;
    text-align:right;
}
#content-posts-bottom-options-sharing-fb{background-position: -83px 0px;}#content-posts-bottom-options-sharing-fb:hover{background-position: -83px -15px;}
#content-posts-bottom-options-sharing-tw{background-position: -66px 0px;}#content-posts-bottom-options-sharing-tw:hover{background-position: -66px -15px;}
#content-posts-bottom-options-sharing-pl{background-position: -49px 0px;}#content-posts-bottom-options-sharing-pl:hover{background-position: -49px -15px;}
#content-posts-bottom-options-sharing-li{background-position: -16px 0px;}#content-posts-bottom-options-sharing-li:hover{background-position: -16px -15px;}
#content-posts-bottom-options-sharing-de{background-position:  0px 0px;}#content-posts-bottom-options-sharing-de:hover{background-position: 0px -15px;}
#content-posts-bottom-options-sharing-pi{background-position: -32px 0px;}#content-posts-bottom-options-sharing-pi:hover{background-position: -32px -15px;}




#last-describ-opt
{
	position: relative; float: left;
	width: 100%; height: auto;
	margin: 0 0 0 0;
	padding: 10px 0 5px 0;
	background: #eee;
	border-radius: 0 0 4px 4px;
	direction: ltr;

}


#last-describ-opt-like
{
	position: relative; float: left;
	margin: 0 0 0 5px;
	background: #eee;
	border-radius: 0 0 10px 10px;
	direction: ltr;
	font-size: 8.5pt;
	color: #aaa;
	font-family: tahoma;

}
#like_count
{
	position: relative; float: left;
	margin: 2px 0 0 5px;
	background: #eee;
	border-radius: 0 0 10px 10px;
	direction: ltr;

	color: #aaa;
	font-family: tahoma;
}

#liker
{
	position: relative; float: left;
	margin: -5px 5px 0 0;
	width: 57px;
}


a
{
	color: #277ab6;
	text-decoration: none;
}
a:hover{color: #74c6ff;}



#last-describ-opt-states
{float:right;min-width:100px;
margin-right:5px;
}
.last-describ-opt-st
{
	position: relative; float: right;
	margin: 2px 6px 0 5px;
	direction: ltr;
	font-size: 9pt;
	color: #aaa;
	font-family: tahoma;

}

#last-describ-opt-dl
{
	position: relative; float: right;
	margin: -5px 5px 0 0;
}
/* Button */
.button 
{
    position: relative; float: left;
    width:auto; height: 30px;
    margin: 0 8px 0 0;
    padding: 4px 10px 6px 10px;

    color: #6f6f6f;
    background: url('../images/gradiant-bg.png') repeat-x;
    background-size: 1px 34px;
    border: 1px #d7d7d7 solid;
    border-radius: 2px;
    cursor: pointer;
}
.button:hover{color: #9a9a9a;}
.button:active{color: #666666}

#archive
{
	position: relative; float: left;
	width: calc(100% - 10px); height: auto;
	padding: 10px 0 35px 10px;
    margin: 10px 0 0 0;
	background: #fff;
	border-radius: 5px;
}
#archive-header
{
	position: relative; float: left;
	width: auto; height: auto;
	margin: 5px 0 5px -10px;
	padding: 10px 10px 10px 20px;
	background: #eee;
	border-radius: 0 4px 4px 0;
	direction: ltr;
    color:#777;

}



#archive ol
{
    position: relative; float: left;
    width: 100%;
    margin: 5px 15px -10px 15px;
    list-style: square inside url('data:image/gif;base64,R0lGODlhBQAKAIABAAAAAP///yH5BAEAAAEALAAAAAAFAAoAAAIIjI+ZwKwPUQEAOw==');
    text-align: left;
    direction: ltr;
}
#archive ol li
{
    position: relative; float: left;
    width: 100%;
    height: 18px;
    font: normal 11pt tahoma;
    color: #5f5f5f;  
}


#copyright
{
	position: relative; float: left;
	width: calc(100% - 30px); height: auto;
	margin: 10px 0 40px 0;
	padding: 0 15px 0 15px;
	direction: ltr;
	color: #888;
	font-size: 11pt;
	font-family: tahoma;
}
#copyright-left
{
	position: relative; float: left;
	width: 50%; height: auto;
	text-align:left;
	direction: ltr;
	color: #888;
	font-size: 10pt;
	font-family: tahoma;
}
#copyright-right
{
	position: relative; float: right;
	width:auto; height: auto;
		text-align:right;
}







/* Icons */
.icon
{
  background: url('../images/icons.png') no-repeat;  
  background-size: 45px 12px;
  position:relative; float:left;
  margin: 0 3px 0 0;
}
#calendar
{background-position: 0px 0px;
width:12px; height:12px;}
#view
{background-position: -12px 0px;
width:12px; height:12px;}
#play
{background-position: -24px 0px;
width:10px; height:12px;}
#download
{background-position: -34px 0px;
width:12px; height:12px;}


#error
{
	position: relative; float: left;
	width: calc(100% - 10px); height: auto;
	padding: 30px 0 35px 10px;
    margin: 10px 0;
	background: #fff;
	border-radius: 5px;
}